.coordoTimetableClasse {
    display: grid;
    justify-content: start;
    border: 1px solid black;
    width: fit-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.coordoTimetableClasse span {
    background-color: rgba(80, 230, 239, 0.19);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.classeOptions {
    border: none;
    background-color: white;
    font-size: 1.5rem;
}

.classeOptions:focus {
    outline: none;
}

.classeOptions:hover {
    background-color: rgba(49, 87, 160, 0.5);
    color: white;
}

.classeOptions:first-of-type {
    text-decoration: underline;
    padding-right: 10px;
    border-top-right-radius: 5px;
}

.classeOptions:last-of-type {
    padding-left: 10px;
    border-top-left-radius: 5px;
}