.fgtPwdForm {
    display: grid;
    justify-content: center;
    margin-top: 80px;
}

.fgtPwdForm .fgtInput {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
}

.fgtPwdForm input:focus {
    outline: none;
}

#fgtSubmit {
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: black;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    width: 200px;
    padding: 15px 0;
    background-color: grey;
    text-align: center;
    justify-self: center;
}

.pwdMismatchError {
    color: red;
    font-size: 0.75rem;
    justify-self: center;
    padding-bottom: 3px;
}

@media(max-width:415px) {
    .fgtPwdForm .fgtInput {
        width: 80vw;
    }
    #fgtSubmit {
        padding: 5px;
        border-radius: 10px;
        border: none;
        box-shadow: black;
        color: white;
        font-weight: bold;
        margin-top: 50px;
        width: fit-content;
        padding: 15px 13px;
        background-color: grey;
        text-align: center;
        justify-self: center;
    }
}